.fullscore {
  /*display: inline-block;*/
  /*background: rgba(0, 0, 0, 0.5);*/
  /*color: white;*/
  /*border-radius: 6px;*/
  /*padding:5px;*/
  margin-top: 5px;

}

h1 {
    padding-left: 42px;
    background: url("/img/csdkb-crown-mini.png") no-repeat bottom 16px left 0;
}
/*h2 {
    padding-left: 40px;
    background: url("/img/csdkb-crown-mini.png") no-repeat bottom 10px left 0;
}*/

p.lead {
    text-align: center;
}

.title-image {
  margin: 0 auto;
}

.file-container a { line-height: 2.5rem; }

@media (min-width: 48em) {
  .file-container a { line-height: 1rem; }
}