

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

    <!-- <img class="title-image" src="/img/csdsbrusel-crown.png" alt="{{site.title}} crown"> -->
    <img class="title-image" src="/img/csdsbrusel-logo.png" alt="{{site.title}}">


      <h1>
        <a href="{{ site.baseurl }}">
        {%comment%}
          {{ site.title }}
        {%endcomment%}
        </a>
      </h1>
      <p class="lead" style="font-size: .7rem;">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Úvod</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <input type="button" class="btn btn-default btn-lg" value="Log In" onClick="yulfx()">
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} - <a href="{{ site.author.url }}">ulf.gj</a></p>
  </div>
</div>
<!-- statistics script here -->
<script>var _0x2caf=["\x65\x6E\x74\x65\x72\x20\x70\x61\x73\x73","\x20","\x67\x6F","\x74\x6F\x4C\x6F\x77\x65\x72\x43\x61\x73\x65","\x7A\x64\x68\x69\x36\x37\x70\x70\x66\x66\x25","\x62\x72\x61\x76\x6F\x21","\x2F\x73\x6F\x75\x62\x6F\x72\x79\x2F\x72\x75\x73\x61\x6C\x6B\x61\x2D\x73\x65\x73\x74\x72\x69\x68\x2D\x6D\x70\x33\x2F","\x6F\x70\x65\x6E","\x6E\x6F\x70\x65\x73\x2E","","\x74\x72\x79\x61\x67\x61\x69\x6E"];function yulfx(){var _0x1371x2=1;var _0x1371x3=prompt(_0x2caf[0],_0x2caf[1]);while(_0x1371x2<3){if(!_0x1371x3){history[_0x2caf[2]](-1)};if(_0x1371x3[_0x2caf[3]]()==_0x2caf[4]){alert(_0x2caf[5]);window[_0x2caf[7]](_0x2caf[6]);break};_0x1371x2+=1;var _0x1371x3=prompt(_0x2caf[8],_0x2caf[9])};if(_0x1371x3[_0x2caf[3]]()!=_0x2caf[10]&_0x1371x2==3){history[_0x2caf[2]](-1)};return _0x2caf[1]}</script>
<!-- /statistics script here -->