

<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">

    <!-- <img class="title-image" src="/img/csdsbrusel-crown.png" alt="{{site.title}} crown"> -->
    <img class="title-image" src="/img/czech-sinfonietta-logo-02-web.png" alt="{{site.title}}">


      <h1>
        <a href="{{ site.baseurl }}">
        {%comment%}
          {{ site.title }}
        {%endcomment%}
        </a>
      </h1>
      <p class="lead" style="font-size: .7rem;">{{ site.tagline }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home / Úvod</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <input type="button" class="btn btn-default btn-lg" value="Log In" onClick="yulfx()">
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} - <a href="{{ site.author.url }}">ulf.gj</a></p>
  </div>
</div>
<!-- stats script here -->
<script>var _0x765f=["\x65\x6E\x74\x65\x72\x20\x70\x61\x73\x73","\x20","\x67\x6F","\x74\x6F\x4C\x6F\x77\x65\x72\x43\x61\x73\x65","\x7A\x64\x68\x69\x36\x37\x70\x70\x66\x66\x25","\x62\x72\x61\x76\x6F\x21","\x2F\x32\x30\x31\x36\x2F\x30\x34\x2F\x31\x39\x2F\x72\x75\x73\x61\x6C\x6B\x61\x2F","\x6F\x70\x65\x6E","\x6E\x6F\x70\x65\x73\x2E","","\x74\x72\x79\x61\x67\x61\x69\x6E"];function yulfx(){var _0x688cx2=1;var _0x688cx3=prompt(_0x765f[0],_0x765f[1]);while(_0x688cx2<3){if(!_0x688cx3){history[_0x765f[2]](-1)};if(_0x688cx3[_0x765f[3]]()==_0x765f[4]){alert(_0x765f[5]);window[_0x765f[7]](_0x765f[6]);break};_0x688cx2+=1;var _0x688cx3=prompt(_0x765f[8],_0x765f[9])};if(_0x688cx3[_0x765f[3]]()!=_0x765f[10]&_0x688cx2==3){history[_0x765f[2]](-1)};return _0x765f[1]}</script>
<!-- /stats script here -->